@charset "iso-8859-2";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Days+One);
html{
	overflow: auto;
}
body{
	min-height: 572px;
	margin: auto;
	width: 1024px;
	background: url(BG.png) bottom center no-repeat;
	padding-bottom: 100px;
	overflow:hidden;
}
h1, h2{
	font-family: 'Days One', sans-serif;
	line-height: 1em;
	margin: 0;
}
h1{
	font-size:37px;
	padding-top: 50px;
}
h2{
	font-size:33px;
	color: #247cc1;
}
cite{
	font-size: 0.9em;
	font-weight: normal;
}
.logo{
	width:230px;
	height:230px;
	float: left;
	margin-bottom: -70px;
}
.logo img{
	max-width: 100%;
}
.listaPrincipal{
	border: 1px solid rgba(190,251,255,0.75);
	box-shadow: 0 0 6px 1px rgba(190,251,255,0.75);
	border-radius: 10px;
	background: url(BG-Listado.png) repeat;
	padding: 13px;
	margin: auto;
	clear: both;
	width: 656px;
	min-height: 260px;
	overflow: hidden;
	position:relative;
}
.listaPrincipal > li{
	list-style: none;
	margin-bottom:10px;
	font-weight: bold;
	float:left;
	clear:both;
	width: 345px;
	display: block;	
}
.listaPrincipal > li, .listaPrincipal > li > a{
	color: #FFF;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}
.listaPrincipal > li > a:hover{
	background-color: #333;
}
.listaPrincipal > li > a{
	display: block;
	padding-left: 1em;
	background: #121615;
	border-radius: 100px;
}
.listaPrincipal > li ul{
	overflow: hidden;
	margin-top: 8px;
	display:none;
	padding-left: 10px;
}
.listaPrincipal ul li{
	float: left;
	clear:both;
	background: url(BG-li.png) top left;
	margin-bottom: 5px;
	border: 1px solid #fff;
	width: 100%;	
	font-size: 0.9em;
	position: relative;
}
.listaPrincipal ul li, .listaPrincipal ul li a{
	color: #FFF;
	display: block;
	text-decoration:none;
}
.listaPrincipal ul li a{
	padding: 0 10px;
}
.mensaje{
	display: none;
	color: #FFF;
	background-color: #000;
	background-color: rgba(0,0,0,0.3);
	padding: 0 10px 0 0;
	font-size: 0.8em;
	line-height: 1em;
	float: right;
	position: absolute;
	text-align: center;
	top: 2px;
	right: 2px;
	border-radius: 10px;
	font-weight: normal;
}
.listaPrincipal ul li a:hover .mensaje{
	display: block;
}
.listaPrincipal ul li a:hover{
	text-indent: 1em;
}
.sombraLita{
	width: 619px;
	height: 13px;
	margin: 10px auto 0;
}
.sombraLita img{
}
.footer{
	font-size: 10px;
	text-align:right;
	color: #555;
	width: 656px;
	margin: auto;
	margin-top: -40px;
}
.footer a{
	color: #ffa02a;
	
}
.PowerImg{
	position: relative;
	top: 25px;
	margin-right: -50px;
}
.minMax{
	border: 1px solid transparent;
	display:block; float: right;
	border-radius: 100px;
	height: 13px;
	width: 13px;
	line-height: 13px;
	text-align:center;
	font-weight: bold;
	position:relative;
	top: 3px;
	right: 3px;
	background-color: #333;
	font-size: 18px;
}
.listaPrincipal > li > a:hover .minMax{
	border-color: #999;
}
#muestraImgs{
	display: block;
	position: absolute;
	border: 1px solid #9CE0FC;
	right: 10px;
	top: 10px;
	min-width: 280px;
	max-width: 280px;
	width: 280px;
	height: 200px;
	max-height: 200px;
	z-index: 2;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 6px 1px rgba(190,251,255,0.75);
	text-align: center;
}
#muestraImgs a{
	cursor: url(zoomInCursor.png), pointer;
}
#muestraImgs a:hover span{
	text-decoration: underline;
}
#muestraImgs a img{
	max-width: 280px;
	height: auto;
}
#muestraImgs a span{
	display:block;
	background-color:#121615;
	color: #fff;
	padding: 0px 10px;;
	border-radius: 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-align: right;
}