@charset "iso-8859-2";
/* CSS Document */

html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
body{
	background: #fff repeat-x center top;
}
body.pro1{
	background-image:url(pro1.png);
	background-color: #ee232b;
	height:939px;
}
body.pro2{
	background-image:url(pro2.png);
	background-color: transparent;
	height:939px;
}

